*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    height: 100vh;
    display: flex;
    background-color: #0303032e;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px black;
    border: 1px solid;
    background-color: white;
}
h1{
    text-transform: capitalize;
    font-size: 40px;
    margin: 1% 0 ;
}
h1 span{
    color: #0303038e;
}
form input {
    font: black;
    margin: 1% 0%;
    padding: 0% 1%;
    width: 40%;
    /* border: 0; */
    height: 7%;
    border-radius: 5px;
}
form textarea{
    padding: 1% 1%;
    width: 40%;
    height: 25%;
    line-height: 25px;
    text-align: justify;

}
select {
    padding: 0% 0%;
    height: 6%;
    width: 26%;
    border-radius: 5px;
    margin: 1% 0;
}
.file {
    font-size: 110%;
}

 button{
    border-radius: 5%;
    padding: 2% 12%;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background:  #030303b9;
    border: none;
    
}